{deps, [
	{sync, "", {git, "git://github.com/rustyio/sync.git", "HEAD"}},
	{esupervisor, ".*", {git, "https://github.com/spawngrid/esupervisor", {branch, "master"}}},
	{lager, "", {git, "git://github.com/basho/lager.git", "HEAD"}},
	{mimetypes, "", {git, "git://github.com/spawngrid/mimetypes.git", "HEAD"}},
	{jsx, "", {git, "git://github.com/talentdeficit/jsx.git", "HEAD"}},
	{cowboy, "", {git, "git://github.com/extend/cowboy.git", "master"}},
	{mimetypes, "", {git, "git://github.com/spawngrid/mimetypes.git", "HEAD"}},
	{erlydtl, "", {git, "git://github.com/evanmiller/erlydtl.git", "HEAD"}},
	{mcd, "", {git, "git://github.com/EchoTeam/mcd.git", "HEAD"}},
	{emongo, "", {git, "git://github.com/boorad/emongo.git", "HEAD"}},
%	{bson, "", {git, "git://github.com/TonyGen/bson-erlang.git", "HEAD"}},
%	{mongodb, "", {git, "git://github.com/TonyGen/mongodb-erlang.git", "HEAD"}},
	{mongodb, "", {git, "git://github.com/mongodb/mongodb-erlang.git", "HEAD"}},
%	{uuid, "", {git, "git://gitorious.org/avtobiff/erlang-uuid.git", "HEAD"}},
	{erlcron, "", {git, "git://github.com/erlware/erlcron.git", "HEAD"}},
	{gen_smtp, "", {git, "git://github.com/Vagabond/gen_smtp.git", "HEAD"}},
	{cowboy_session, "", {git, "git://github.com/spawngrid/cowboy_session.git", "HEAD"}},
	{ux, "", {git, "git://github.com/erlang-unicode/ux.git", "HEAD"}},
%	{iconv, "", {git, "git://github.com/erylee/erlang-iconv.git", "HEAD"}},
	{erl_img, "", {git, "git://github.com/evanmiller/erl_img.git", "HEAD"}},
	{validate, "", {git, "git://github.com/strange/erlang-validation.git", "HEAD"}}
]}.

